.header {
    height: 50px;
    display: flex;
    position: relative;
}

.header__bannerContainer {
    cursor: pointer;
    outline: 0;
}

.header__banner {
    width: 250px;
    margin-left: 5px;
}

.header__buttons {
    width: 100px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-5px, -50%);
}
